<div class="table">

    <div class="tr">

        <div class="th" *ngFor="let column of columns">

            <span>{{ column }}</span>

            <span *ngIf="model[column]">model[column].availableUnits</span>

        </div>

    </div>

    <div class="tr" *ngFor="let row of rows">

        <div class="td" *ngFor="let column of columns">

            <span *ngIf="row[column]" class="data">

                <span class="data-value">{{ row[column].toString() }}</span>

                <span class="data-units" *ngIf="row[column].units">

                    ({{ row[column].units }})

                </span>

            </span>

        </div>

    </div>

</div>