@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
@import './partials/variables';

* {

    font-family: 'Roboto Mono', monospace;

}

body {

    margin: 0 auto;

    color: $primary;

}

article {

    padding: 1em;

}